.App {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;;
  text-align: center;
  height: 1000px;
}

html {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  color: #006994;
  
}

.SearchBar {
  margin-bottom: 10px;
}

.TimeInterval {
  margin-bottom: 10px;
}